			/**********
			**HEADER***
			**********/

.jumbotron {
	background-image:url("img/headerimage.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	height:31em;
		-webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.8);
		-moz-box-shadow:    0px 6px 5px 0px rgba(0, 0, 0, 0.8);
		box-shadow:         0px 6px 5px 0px rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 590px){
	.jumbotron{
		background-position:center;
	}
}
.jumbotron h1{
	font-family:sans-serif, arial;
	font-size:4.7em;
	color: white;
	text-align:center;
	padding-top:77px;
	text-shadow: 3px 3px 20px #000000;
	
}

@media screen and (min-width: 960px) {
    .jumbotron h1 {
	margin-top:0.7em;
	font-size:4em;
    }
}

@media screen and (max-width: 960px) {
    .jumbotron .container {
	max-width:300px;
    }
}