body{
	background-color: #efefef;
}

.navbar{
	border-radius: 0 !important;
}

.container h1{
	text-align: center;
	font-size: 8em;
}

.container h2{
	text-align: center;
	font-size: 5em;
}

.description{
	font-size: 1.7em;
}

.project-box{
	background-color: #214079;
	margin-left: 10px;
	margin-bottom:10px;
	width:49%;
	height:290px;
}